html {
    box-sizing: border-box;
}

/* Error messages */
.error {
    color: red;
    font-weight: 400;
    font-style: italic;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

html,
body {
    margin: 0px;
    font-size: 13px;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#logo {
    width: 90px;
}

/* HIDDEN BY DEFAULT */

#freelancer-section,
#CEST-extender-form,
#ITContractor-questions-section,
#ever-worked-date-wrapper,
#IRC35-date-wrapper,
#other-currency-wrapper {
    display: none;
}


/* Header */
header {
    background-color: #0E1E24;
    padding-top: 4em;
}

header>h1 {
    color: #dee2e6;
    text-align: center;
    text-transform: uppercase;
}

.disclaimer {
    background-color: #054861;
    color: silver;
    border-radius: 10px;
    padding: 2em;
    position: relative;
    top: 3em;
}

.disclaimer>p:nth-child(4) {
    color: red;
}

.modal-footer {
    background-color: #054861;
    color: silver;
}

/* __________STYLING OF THE SUPPLIER FORM __________ */


#form-ctnr {
    position: relative;
    top: 7em;
    padding-left: 0;
    padding-right: 0;
}


/* sub-titles banners */
.h2-banner {
    background: -webkit-gradient(linear, left top, right top, from(#163058), to(#89dce9));
    background: linear-gradient(90deg, #163058 0%, #89dce9 100%);
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 2rem;
}

.form-group {
    margin: 0.8em 0.3em;
}


label {
    font-weight: bold;
}

/* supplier extender form */
#supplier-extender-section,
#freelancer-section {
    border: 1px solid #89dce9;
}

/* // remove margins from these sections will realign inputs of nested section */
#freelancer-section,
#ITContractor-questions-section,
#basic-info-CEST {
    margin-right: 0;
    margin-left: 0;
}

table td {
    border: solid 1px #054861;
}

#employeeDetails tr:nth-child(odd) {
    background-color: #e5fafd;
}

#ITContractor-questions-section {
    border: 1px solid pink;
}

/* UPLOAD button */

/* ============== File upload / Job description ============ */
/* we don't hide the fileinput otherwise functionality won't work */
#fileinput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileinput-label-wrapper {
    text-align: left;
    height: 40px;
    margin-top: 1em;
}

#fileinput-label {
    width: auto;
    height: 38px;
    padding: 15px;
    border: solid 1px #054861;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    color: #054861;
    padding: 1em 2em;
}

/* SVG icon */
svg {
    fill: #054861;
    margin: 0 0.5em 0.4em 0;
}

/* upload button */
#fileinput:focus {
    -webkit-box-shadow: 1px 2px 3px 4px #054861;
    box-shadow: 1px 2px 3px 4px #27a7d6;
    outline: none;
}


.submit-btn {
    background-color: #32597B;
    width: 160px;
    font-weight: 500;
    height: 50px;
    letter-spacing: .5px;
    color: white;
    margin: 2em;
    /* for shiny effect */
    overflow: hidden;
    position: relative;
}

/* pseudo element shine animation left side */
.submit-btn::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skew(-15deg);
}


/* pseudo-element shine animation right side */
.submit-btn::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}

.submit-btn:hover {
    color: white;
    background-color: #163058;

}

.submit-btn:hover::before,
.submit-btn:hover::before {
    transform: translateX(300px) skewX(-15deg);
    transition: 0.7s;
}

.footer {
    background-color: #054861;
    color: silver;
    border-radius: 10px;
    padding: 2em;
    top: 3em;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}